[alias]
  a  = add
  b  = branch
  br = branch
  d  = diff
  ds = diff --staged
  ci = commit
  co = checkout
  cp = cherry-pick
  l  = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
  la = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --graph --all
  lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --graph
  ln = log --name-status
  s  = status
  st = status
[color]
  branch = auto
  diff   = auto
  status = auto
[merge]
  tool = vimdiff
[pull]
  rebase = true
[push]
  default = upstream
