[alias]
  a  = add
  b  = branch
  br = branch
  d  = diff
  ds = diff --staged
  ci = commit
  co = checkout
  cp = cherry-pick
  l  = log
  la = log --graph --all
  lg = log --graph
  ln = log --name-status
  s  = status
  st = status
[color]
  branch = auto
  diff   = auto
  status = auto
[diff]
  compactionHeuristic = true
[format]
  pretty = format:%Cblue%cd %Cgreen%h %Creset%s %Cblue(%cN)%Cgreen%d
[interactive]
  diffFilter = diff-highlight | less
[merge]
  tool = vimdiff
[log]
  date = format:%F %I:%M %p
[pager]
  diff = diff-highlight | less
  log  = diff-highlight | less
  show = diff-highlight | less
[pull]
  rebase = true
[push]
  default = upstream
[stash]
  showPatch = true
